---
layout: default
title: מי אנחנו
permalink: /about/
sections:
 demands: "הדרישות שלנו"
 values: "הערכים והעקרונות שלנו"
 strategy: "האסטרטגיה שלנו"
order: 2
footer: about
---


<div class="about-header page-headers">
	<div class="">
		מי אנחנו?
	</div>
</div>

<div class="bg-green about-page-content  flex flex-align-center flex-justify-center text-white alef">
	<div class="">
		<p class="">
			<span class="text-yellow">"תנועת המרד בהכחדה"</span> (Extinction Rebellion או בקיצור XR) היא תנועה עולמית שנולדה בבריטניה ב-2018 כמענה <span class="text-yellow">למצב החירום חסר התקדים שבו אנו נמצאים</span> - משבר אקלים ומשבר אקולוגי חריפים. המדע ברור: אם נמשיך ב"עסקים כרגיל", נמצא את עצמנו בכוכב שרובו יהיה בלתי-ראוי למחיה ובעיצומה של הכחדה המונית שמתרחשת כבר היום. ישראל נמצאת במצב פגיע במיוחד.
		</p>
		<p class="">
			הממשלה נכשלת בתפקידה לדאוג לאזרחי המדינה ולתקשר לציבור את חומרת המצב.
			לכן, הצטרפנו למרד - אמהות, אבות, סבים וסבתות, נשים, גברים, זקנים ונוער, מכל גיל, רקע ומקצוע אפשריים.
		</p>
		<p class="">
			אנחנו חוצים דת, מגזרים ודעות פוליטיות, למען מטרה משותפת. הדאגה והאהבה שלנו לילדינו, לבריאותנו ולחיים על פני כדור-הארץ מביאות אותנו לצאת ביחד מאזור הנוחות שלנו ולעמוד בנחישות אל מול ההרס וההכחשה.
			המשימה שלנו היא לעורר מרד יצירתי בלתי-אלים ולהניע 3.5% מהאוכלוסייה, כדי לשבש את ה"עסקים כרגיל", עד שהממשלה תנקוט בפעולה אפקטיבית.
		</p>
	</div>
	<div class="">
		<p class="">
		אנחנו מבססים את הדרישות שלנו על גוף-הידע המתפרסם על-ידי מדעני אקלים ומוסדות־מחקר בני-סמכא (כגון הפאנל הבין-ממשלתי לשינוי אקלים, השירות המטאורולוגי העולמי, נאס"א). האסטרטגיה שלנו נסמכת על מחקרים במדעי החברה ועל תנועות אי-אלימות מעוררות השראה שקדמו לנו.
		</p>
		<p>
			זה עובד! בעקבות פעולות המוניות של המרד באפריל 2019, שהביאו למעצר של מעל 1100 איש בלונדון ולגדילה משמעותית בבסיס התומכים, הפרלמנט הבריטי הכריז על מצב חירום אקלימי ואקולוגי, ובכך נענה לדרישה הראשונה שלנו - לומר את האמת. בתגובת שרשרת נרחבת ומהירה, מדינות שונות, ביניהן אירלנד, פורטוגל, ארגנטינה ומדינת הבירה באוסטרליה הכריזו אף הן על מצב חירום אקלימי ואקולוגי במהלך קיץ 2019. כך עשו גם מאות ערים, מועצות ומחוזות ברחבי העולם, ובהן ניו-יורק.
		</p>
		<p>
			על ידי פעולות התנועה העולמית והתנועה בארץ, הצלחנו לחדור את מסכת האדישות של התקשורת הישראלית.
		</p>
	</div>
	<div class="">
		<p>
			לאחר שתיקה ארוכה, החלו להופיע עשרות כתבות המשקפות יותר ויותר את האמת על משבר האקלים ומסקרות את פעילות המרד.
		</p>
		<p>
			אנחנו תנועה בלתי-אלימה, מבוזרת, שמבוססת על אוטונומיה, יוזמה והשתתפות מכלילה (ראו - העקרונות והערכים שלנו), שמאפשרת חגיגה של היצירתיות והייחודיות של כל פרט וקהילה.
			עד כה התנועה התפשטה לכ- 55 מדינות,. בהוקמו כ-620 קבוצות-פעולהסניפים,. בעת שסניפים וקבוצות חדשותים ממשיכותים לקוםלצוץ ברחבי העולם, וסניפים קיימים ממשיכים לגדול.
		</p>
		<p>
			כאן בארץ התגבש גרעין הפעולה הראשוני בערב התנעה שהתקיים הת תהגבשהתבססה התנועה התבססה ב-27 במאי 2019, תוךעם הצטרפות נלהבת לקבוצות-פעולה, וההצטרפות נמשכתגדלה בזמן שאתם קוראים שורות אלו.
		</p>
		<p>
			הצטרפו גם אתם. מרדו למען החיים.
		</p>
	</div>
</div>

<div class="demands contents basic-padding" id="demands">
	<h2 class="demands-title  pb-2">
		הדרישות שלנו
	</h2>
	<div class="demands-div">
		{% for demand in site.data.demands %}
			<div class="pb-2 demand-div">
				<h2 class="demand-title text-green">{{ forloop.index }}. {{ demand.title }}</h2>
				<p class="demand alef font-bold">
					{{ demand.content }}
				</p>
			</div>
		{% endfor %}
	</div>
	<div class="">
		<a href="#" class="btn-black demands-btn">להורדת מסמך הדרישות שלנו ></a>
	</div>
</div>

<div class="values bg-lightblue contents basic-padding" id="values">
	<h2 class="values-title pb-2 ">
		הערכים והעקרונות שלנו
	</h2>
	<div class="values-flex ">
		<div class="value-list">
			{% for value in site.data.values %}
				{% if forloop.index < 6 %}
					<div class="pb-2">
						<h2 class="value-title text-white">{{ forloop.index }}. {{ value.title }}</h2>
						<p class="value alef font-bold">
							{{ value.content }}
						</p>
					</div>
				{% endif %}
			{% endfor %}
		</div>
		<div class="value-list">
			{% for value in site.data.values %}
				{% if forloop.index > 5 %}
					<div class="pb-2">
						<h2 class="value-title text-white">{{ forloop.index }}. {{ value.title }}</h2>
						<p class="value alef font-bold">
							{{ value.content }}
						</p>
					</div>
				{% endif %}
			{% endfor %}
		</div>
	</div>
	<a href="#" class="btn-black ">להורדת מסמך הערכים והעקרונות שלנו ></a>
</div>
<div class="strategy contents bg-green basic-padding" id="strategy">
		<h2 class="strategy-title">האסטרטגיה שלנו</h2>

</div>
<div class="structure contents basic-padding">
	<h2 class="structure-title">מידע על מבנה התנועה</h2>
		<div class="structure-flex">
			<div class="alef font-bold structure-text">
				<p>
					תנועת "המרד בהכחדה" (Extinction Rebellion או בקיצור XR) היא תנועה עולמית שנולדה בבריטניה ב-2018 כמענה למצב החירום חסר התקדים שבו אנו נמצאים - משבר אקלים ומשבר אקולוגי חריפים. המדע ברור: אם נמשיך ב"עסקים כרגיל", נמצא את עצמנו בכוכב שרובו יהיה בלתי-ראוי למחיה ובעיצומה של הכחדה המונית שמתרחשת כבר היום.
					ישראל נמצאת במצב פגיע במיוחד …
				</p>
				<p>
					הממשלה נכשלת בתפקידה לדאוג לאזרחי המדינה ולתקשר לציבור את חומרת המצב.
					לכן, הצטרפנו למרד - אמהות, אבות, סבים וסבתות, נשים, גברים, זקנים ונוער, מכל גיל, רקע ומקצוע אפשריים.
					אנחנו חוצים דת, מגזרים ודעות פוליטיות, למען מטרה משותפת. הדאגה והאהבה שלנו לילדינו, לבריאותנו ולחיים על פני כדור-הארץ מביאות אותנו לצאת ביחד מאזור הנוחות שלנו ולעמוד בנחישות אל מול ההרס וההכחשה.
				</p>
			</div>
			<!-- <a href="{{site.baseurl}}/assets/images/structure.svg" data-lightbox="strucure" data-title="מבנה התנועה" class="bg-green">
			</a> -->
			<div class="">
				<img src="{{site.baseurl}}/assets/images/structure.svg" alt="movement-structure" class="structure-image mb-1">
			</div>
		</div>
		<a href="#" class="btn-black mb-1">קראו עוד ></a>
		<a href="#" class="btn-black btn-pink mb-1">הצטרפו אלינו</a>
</div>
