---
layout: default
title: מי אנחנו
description: תנועת המרד בהכחדה קמה כמענה למצב החירום חסר התקדים שבו אנו נמצאים
image: /assets/images/about.webp

permalink: /about/
sections:
 demands: "הדרישות שלנו"
 values: "הערכים והעקרונות שלנו"
 strategy: "האסטרטגיה שלנו"
order: 2
footer: about
---


<div class="about-header page-headers">
	<div class="">
		מי אנחנו?
	</div>
</div>

<div class="bg-green about-page-content flex flex-align-center flex-justify-center text-white alef">
	<div class="">
		<p class="">
			<span class="text-yellow">"תנועת המרד בהכחדה"</span> (Extinction Rebellion או בקיצור XR) היא תנועה עולמית שנולדה בבריטניה ב-2018 כמענה <span class="text-yellow">למצב החירום חסר התקדים שבו אנו נמצאים</span> - משבר אקלים ומשבר אקולוגי חריפים. המדע ברור: אם נמשיך ב"עסקים כרגיל", נמצא את עצמנו בכוכב שרובו יהיה בלתי-ראוי למחיה ובעיצומה של הכחדה המונית שמתרחשת כבר היום. ישראל נמצאת במצב פגיע במיוחד.
		</p>
		<p class="">
			הממשלה נכשלת בתפקידה לדאוג לאזרחי המדינה ולתקשר לציבור את חומרת המצב.
			לכן, הצטרפנו למרד - אמהות, אבות, סבים וסבתות, נשים, גברים, זקנים ונוער, מכל גיל, רקע ומקצוע אפשריים.
		</p>
		<p class="">
      אנחנו מבינים שעשרות שנים של פעולות חוקיות כמו עצומות, תביעות משפטיות, הפגנות, צעדות מחאה וחינוך לפעולות אישיות לא עשו את השינוי, לא שינו את המגמה. גרף הפליטות של גזי חממה ממשיך בעלייה. על מנת לעצור את ההכחדה עלינו לנקוט בגישה שונה.
		</p>
	</div>
	<div class="">
		<p class="">
      אנחנו חוצים דת, מגזרים ודעות פוליטיות, למען מטרה משותפת. הדאגה והאהבה שלנו לילדינו, לבריאותנו ולחיים על פני כדור-הארץ מביאות אותנו לצאת ביחד מאזור הנוחות שלנו ולעמוד בנחישות אל מול ההרס וההכחשה. המשימה שלנו היא לעורר מרד יצירתי בלתי-אלים ולהניע 3.5% מהאוכלוסייה, כדי לשבש את ה"עסקים כרגיל", עד שהממשלה תנקוט בפעולה אפקטיבית.
		</p>
		<p>
			אנחנו מבססים את הדרישות שלנו על הקונצנזוס המדעי בנושא ועל הנתונים המתפרסמים על-ידי מדעני אקלים ומוסדות־מחקר בני-סמכא (כגון הפאנל הבין-ממשלתי לשינוי אקלים, השירות המטאורולוגי העולמי, נאס"א). האסטרטגיה שלנו נסמכת על מחקרים במדעי החברה ועל תנועות אי-אלימות מעוררות השראה שקדמו לנו.
		</p>
		<p>
      זה עובד! בעקבות פעולות המוניות של המרד באפריל 2019, שהביאו למעצר של מעל 1100 איש בלונדון ולגדילה משמעותית בבסיס התומכים, הפרלמנט הבריטי הכריז על מצב חירום אקלימי ואקולוגי, ובכך נענה לדרישה הראשונה שלנו - לומר את האמת. בתגובת שרשרת נרחבת ומהירה, מדינות שונות, ביניהן אירלנד, פורטוגל, ארגנטינה ומדינת הבירה באוסטרליה הכריזו אף הן על מצב חירום אקלימי ואקולוגי במהלך קיץ 2019. כך עשו גם מאות ערים, מועצות ומחוזות ברחבי העולם, ובהן ניו-יורק.
		</p>
	</div>
	<div class="">
    <p>
      על ידי פעולות התנועה העולמית והתנועה בארץ, הצלחנו לחדור את מסכת האדישות של התקשורת הישראלית.
    </p>
		<p>
			לאחר שתיקה ארוכה, החלו להופיע עשרות כתבות המשקפות יותר ויותר את האמת על משבר האקלים ומסקרות את פעילות המרד.
		</p>
		<p>
      אנחנו תנועה בלתי-אלימה, מבוזרת, שמבוססת על אוטונומיה, יוזמה והשתתפות מכלילה (ראו - העקרונות והערכים שלנו), שמאפשרת חגיגה של היצירתיות והייחודיות של כל פרט וקהילה. עד כה התנועה התפשטה לכ- 55 מדינות, הוקמו כ-620 קבוצות-פעולה, בעת שסניפים וקבוצות חדשות ממשיכות לקום ברחבי העולם, וסניפים קיימים ממשיכים לגדול.
    </p>
		<p>
			ההכרזה על הקמת תנועת המרד בארץ התקיימה ב 27 במאי 2019 בנוכחות מאות פעילים, ומיד קמו קבוצות פעולה ועבודה ברחבי הארץ.
		</p>
    <p>
      המרד גדל בזמן שאתם קוראים שורות אלו.
    </p>
		<p>
			הצטרפו גם אתם. מרדו למען החיים.
		</p>
	</div>
</div>

<div class="demands contents basic-padding" id="demands">
	<h2 class="demands-title  pb-2">
		הדרישות שלנו
	</h2>
	<div class="demands-div">
		{% for demand in site.data.demands %}
			<div class="pb-2 demand-div">
				<h2 class="demand-title text-green">{{ forloop.index }}. {{ demand.title }}</h2>
				<p class="demand alef font-bold">
					{{ demand.content }}
				</p>
			</div>
		{% endfor %}
	</div>
	<!-- <div class="">
		<a href="#" class="btn-black demands-btn">להורדת מסמך הדרישות שלנו ></a>
	</div> -->
</div>

<div class="values bg-lightblue contents basic-padding" id="values">
	<h2 class="values-title pb-2 ">
		הערכים והעקרונות שלנו
	</h2>
	<div class="values-flex ">
		<div class="value-list">
			{% for value in site.data.values %}
				{% if forloop.index < 6 %}
					<div class="pb-2">
						<h2 class="value-title text-white">{{ forloop.index }}. {{ value.title }}</h2>
						<p class="value alef font-bold">
							{{ value.content }}
						</p>
					</div>
				{% endif %}
			{% endfor %}
		</div>
		<div class="value-list">
			{% for value in site.data.values %}
				{% if forloop.index > 5 %}
					<div class="pb-2">
						<h2 class="value-title text-white">{{ forloop.index }}. {{ value.title }}</h2>
						<p class="value alef font-bold">
							{{ value.content }}
						</p>
					</div>
				{% endif %}
			{% endfor %}
		</div>
	</div>
	<!-- <a href="#" class="btn-black ">להורדת מסמך הערכים והעקרונות שלנו ></a> -->
</div>
<div class="strategy contents bg-green basic-padding" id="strategy">
	<h2 class="strategy-title">האסטרטגיה שלנו</h2>
  <p class="alef text-white">
    לב הפילוסופיה של המרד בהכחדה הוא אי-ציות אזרחי לא אלים. אנחנו מקדמים אי-ציות אזרחי ומרד מכיוון שאנחנו חושבים שזה נחוץ- אנחנו מבקשים מאנשים לאזור אומץ ולעשות ביחד את מה שנחוץ כדי להביא שינוי. <br>
    אנחנו לא ממוקדים במערכות המסורתיות כמו עצומות או לכתוב מכתבים לחברי הכנסת שלנו, ויותר מוכנים לקחת סיכונים (כמו מעצר / זמן בכלא). אנחנו לא רוצים או צריכים שכולם ייעצרו - יש אנשים  שבשבילם זה לא רעיון טוב - אבל אנחנו כן רוצים שכל המעורבים יתמכו באי-ציות אזרחי ככלי. <br>
    אנחנו מארגנים פעולות אי-ציות המוניות "מעל פני השטח"- לעיני כל הציבור. משמעות הדבר היא  הפרעה כלכלית על מנת לערער את המערכת הפוליטית הנוכחית והפרעות אזרחיות כדי לעורר מודעות. אנחנו מצטערים מעומק ליבנו על אי-הנוחות שזה עלול לגרום. <br>
    הגענו למספר החלטות בנוגע לאבטחה והאינטרקציות שלנו עם המשטרה. החלטנו האסטרטגית היא לתקשר עם המשטרה בנוגע למה שאנחנו עושים כאשר אנחנו מאמינים שזה יאפשר לדברים להתבצע היטב (משהו שאנחנו לא תמיד בטוחים בו). חוץ ממקרה בו קבוצה קטנה מנסה לעשות פעולה מסוימת  שמצריכה את יתרון ההפתעה, אנחנו באופן כללי לא מנסים להיות מאובטחים בתקשורת שלנו בנוגע לתוכניות. אנחנו לוקחים בחשבון שיסתננו אלינו אנשים שלא רוצים את הטוב ביותר בשבילנו ולא שותפים לאינטרסים שלנו ולכן מציעים שאנשים יקחו זאת בחשבון. <br>
    אנחנו עוסקים בשינוי פוליטי, לא שינוי אישי (למרות שאנחנו מברכים עליו). <br>
    אנחנו לגמרי לא-אלימים, הפעולות שלנו נעשות באופן גלוי לחלוטין ואנחנו לוקחים אחריות עליהן. יש לנו קונצנזוס פעולה שמציב קווי מתאר איך אנחנו עובדים יחד על פעולות.
  </p>
  <a href="{{site.baseurl}}/assets/downloads/strategy.pdf" class="btn-black ">למסמך האסטרטגיה שלנו ></a>
</div>
<div class="structure contents basic-padding">
	<h2 class="structure-title">מידע על מבנה התנועה</h2>
		<div class="structure-flex">
			<div class="alef structure-text">
				<p>
          התנועה בנויה משני סוגים של קבוצות:<br>
          קבוצות עבודה, שמגייסות פעילים ופעילות, דואגות לרווחתם, נמצאות בקשר עם התקשורת, מלוות ועוזרות בעיצוב הפעולות,<br>
          וקבוצות אזוריות, שהן הלב של התנועה - כי הן מתכננות ומוציאות את הפעולות הישירות לפועל.<br>
          הקבוצות האזוריות בנויות מקבוצות זיקה – קבוצות קטנות יותר ומגובשות יותר, שמוציאות לפועל משימות קונקרטיות.<br>
          אם את/ה מעוניינ/ת לתכנן פעולות ואירועים ולהשתתף בהם - הקבוצות האזוריות הן המקום בשבילך!<br>
          אם את/ה רוצה להשקיע יותר זמן ומאמץ, ולהשתתף בארגון ובהנעה של התנועה, הצטרפ/י לקבוצת עבודה!<br>
          (אפשר כמובן להיות גם בקבוצה אזורית וגם בקבוצת עבודה).<br>
        </p>
			</div>
			<div class="">
				<img src="{{site.baseurl}}/assets/images/structure.webp" alt="movement-structure" class="structure-image mb-1">
			</div>
		</div>
		<a href="{{site.baseurl}}/assets/downloads/structure.pdf" class="btn-black mb-1">קראו עוד ></a>
		<!-- <a href="#" class="btn-black btn-pink mb-1">הצטרפו אלינו</a> -->
</div>
