<!-- footer.html -->
{% if page.footer %}
	<a href="{{site.baseurl}}/join-us/" class="footer-image mobile-hidden text-white" style="background-image:url('{{site.baseurl}}/assets/images/footer-{{page.footer}}.webp')">
		<div class="overlay page-overlay">
			הצטרפו אלינו
		</div>
	</a>
{% endif %}
<footer class="site-footer h-card basic-padding">
	<a class="btn-black btn-yellow donate-btn text-center text-md mb-2 desktop-hidden"  href="https://www.drove.com/campaign/5d1c920428df5500012295bd">תרמו לנו</a>


		<div class="text-white">
			{% assign sorted_pages = site.pages | sort: "order" %}
			{% for page in sorted_pages %}
				{% if page.title  and (page.path != "404.html" and page.title != "הצטרפו אלינו" and page.title != "אירועים" and page.title != "חדשות") %}
  				<div>
  					<a class="text-md" href="{{ page.url | relative_url }}">{{ page.title }}</a>
						<!-- <ul>
							{% for section in page.sections %}
							<li>
								<a class="text-yellow alef" href="{{ page.url | relative_url }}#{{section[0]}}">{{ section[1] }}</a>
							</li>
							{% endfor %}
						</ul> -->
  				</div>
				{% endif %}
			{% endfor %}
			<a class="btn-black btn-yellow donate-btn text-center text-xl mt-2 p-4 w-full mobile-hidden"  href="https://www.drove.com/campaign/5d1c920428df5500012295bd">תרמו לנו</a>
		</div>

	<div class="footer-left">
		<img src="{{site.baseurl}}/assets/images/logo.svg" alt="xr-il-logo" class="slogo-height mt-2"></a>
		<h2 class="text-white copyright-title">זכויות יוצרים</h2>
		<hr>
		<div class="text-white mt-1 copyright-content">
			המרד בהכחדה (XR) היא תנועה של עשייה משותפת. ניתן להשתמש בכל העיצובים והאיורים שלנו שלא למטרות מסחריות, למען הצלת כדור הארץ. כלומר, אין ליצור מוצרים מסחריים לצורך התרמת כסף, ולא לשלוח ל XR אחוזים מהמכירות. איננו תומכים במוצרים מסחריים או ביצירתם ואנו נרדוף ונתבע כל מי שיעשה זאת. סמל ההכחדה עוצב ב-2011 על ידי אמן הרחוב ESP, והוא משאיל ל XR את השימוש בו על אותו בסיס: http://www.extinctionsymbol.info
		</div>
		<div class="text-white mt-1 codecircle">
			עוצב על ידי שני קדר
		</div>
		<div class="text-white mt-1 codecircle">
			נבנה על ידי <a href="https://www.codecircle.co.il" class="codecircle-link" ><img src="{{site.baseurl}}/assets/images/codecircle.svg" alt="לוגו הקורד השומרי" class="codecircle-logo mr-1"></a>
		</div>
	</div>
</footer>
<!-- /footer.html -->