---
---

@import "{{ site.theme }}";
@font-face {
  font-family: "Almoni";
  src: url("fonts/Almoni-Neue-DL-4-AAA-Bold.ttf");
}
@font-face {
  font-family: "Alef";
  src: url("fonts/Alef-Bold.ttf");
  src: url("fonts/Alef-Regular.ttf");
}

$almoni:                "Almoni";
$alef:                "Alef";
$brand-color:           #fff;
$brand-color-light:     lighten($brand-color, 40%) !default;
$brand-color-dark:      lighten($brand-color, 0%) !default;

$site-title-color:      $brand-color-dark !default;
$text-color:            #fff;
$yellow:								#FFC11F;
$pink:									#C80082;


body{
  font-family: $almoni
}
.site-header {
  background-color: $pink;
  color: #fff;
  height: 70px;
  border: 0;
}


.menu-icon{
  position: absolute;
  left: 0px;
}
.page-content{
  padding-top: 0;
  padding-bottom: 0;
}



.flex-column{
  flex-direction: column;
}

.h-100{
  height: 100%;
}
.w-10{
  width: 10%;
}
.h-100v{
  height: 100vh;
}
.w-100{
  width: 100%;
}
.w-50{
  width: 50%;
}
.h-50v{
  height: 50vh;
}
.h-50{
  height: 50%;
}
.h-40{
  height: 40%;
}
.h-85v{
  height: 85vh;
}
.h-90v{
  height: 90vh;
}
.px-10{
  padding: 5px 30px 5px 30px;
}

.overlay{
  background-color: rgba(0,0,0,0.2);
}
.mb-1{
  margin-bottom: 1rem !important;
}
.mb-2{
  margin-bottom: 2rem !important;
}
.pb-2{
	padding-bottom: 2rem;
}
.pt-1{
	padding-top: 1rem;
}
.mt-1{
  margin-top: 1rem !important;
}
.mt-2{
  margin-top: 2rem !important;
}
.global-site{
	margin-top: 1em;
}
.mt-5{
  margin-top: 5rem;
}
.text-white{
  color: white;
}
.text-secondary{
  color: $yellow
}
.bg-yellow{
	background: $yellow;
}
.act-now-squares{
	// padding-top: 1rem;
	padding: 1rem 0 1rem 0;
	flex-direction: column;
}
.act-now-title{
	width: 50%
}
.absolute{
  position: absolute;
}
.about{
  font-family: $alef
}
.about-title{
  font-family: $almoni
}
.hero{
  background-color: lightblue;
  color: white;

  .hero-title{
    font-size: 6rem !important;
    line-height: 0.8;
    text-align: center;
  }
  .hero-text{
    font-size: 1.2rem;
    width: 100%;
    // margin-bottom: 2rem;
  }
}
.btn-black{
	font-family: $almoni;
  // width: 50px;
  color: white;
  background: black;
  padding: 5px 30px 5px 30px;
  font-size: 1.5rem;
	display: inline-block;
}
.text-lg{
  font-size: 2rem;
}
.text-md{
  font-size: 1.5rem;
}
.text-sm{
	font-size: 1.1rem
}
.font-bold{
  font-weight: bold;
}
.hourglass{
  transform: translate(50%, -50%);
}
.left-50{
  transform: translate(-100%, 0);
}
.about{
  background-color: #43A047;
}
.logo-height{
  height: 50px;
}
.text-center{
  text-align: center;
}

.site-nav{
  right: auto;
  left: 15px;
  .page-link{
    font-family: $almoni;
    color: $text-color;
    font-size: 1.4rem;
  }
}

.flex{
  display: flex;
}
a:visited{
  color: white
}
.hero-bg{
  background-image: url("images/diein.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.about{
	display: inline-block;
}
.about-content{
	flex-direction: column;
	font-size: 1.1rem;
	padding: 0 30px 0 30px;
	margin-bottom: 1rem;
}
.pb-4{
	padding-bottom: 4rem;
}
.about-btn{
	// margin-top: 1rem;
}
.bg-act-now{
	background-image: url("images/forest.webp");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 50vh;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-size: 6rem !important;
	line-height: 0.8;
	text-align: center;
}
.square-margin{
	width: 90%;
	background-color: white;
	margin: 2rem;
}
.square-blue{
	background-color: #32439C;
}
.square-pink{
	background-color: $pink;
}
.square{
	display: block;
	height: 50%;
	padding-top: 100%;
	position: relative;

}


/* If you want text inside of the container */
.square-content {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.text-pink{
	color: $pink;
}
.social-section{
	display: flex;
	flex-direction: column;
	justify-content: center;

}
.social-icons{
	display: flex;
	justify-content: center;
}
.third-section{
	flex-direction: column;
}
.events-section{
	background-color: #76C6DD;
	text-align: center;
}
.news-section{
	background-color: $yellow;
	text-align: center;
}
.flex-justify-between{
	justify-content: space-between;
}

.flex-align-center{
  align-items: center;
}

.flex-justify-center{
  justify-content: center;
}
.square-text{
	font-size: 2.5rem;
	margin-top: 1rem;
	text-align:center;
	color: white;
}
.square-image{
	height: 30%;
	margin-bottom: 3rem;
}
a{
	color: white;
}
.mx-30{
		margin: 0 30px 0 30px
}
.mx-1{
	margin: 0 1rem 0 1rem;
}
.social-icon{
	width: 10%;
}
.mb-0{
	margin-bottom: 0;
}
.act-now-move-up{}

// only mobile
@media only screen and (max-width: 600px) {
  .table-caption{
     word-spacing: 9999rem;
    display:table-caption;
  }
  .site-title {
    float: right;
    margin-right: 10px;
    margin-top: 5px;
    &,
    &:visited {
      color: $site-title-color;
    }
  }
  .site-nav{
    transform: translate(8px , 8px);
    transform-origin: center;
    .page-link{
      color: black;
    }
  }
}
@media only screen and (max-width: 600px) {

}
@media only screen and (min-width: 1000px) {

}
//only desktop
@media only screen and (min-width: 768px) {
	.about-content{
		flex-direction: row;
	}
  .desktop-flex{
    display: flex;
  }
  .mr-85p{
    margin-right: 85px;
  }
  .site-title {
    &,
    &:visited {
      color: $site-title-color;
    }
  }

  .site-nav{
    .page-link{
      color: $text-color;
        &:last-child {
          margin-right: 20px;
        }
      }
    }
	.act-now-squares{
		flex-direction: row;
		flex-wrap: wrap;
	}
	.square-margin{
		width:25%;
	}
	.act-now-move-up{
		transform: translate(0, -10rem);
	}
	.square-text{
		font-size: 2.5vw;
	}
}
