---
---

@import "{{ site.theme }}";

@font-face {
  font-family: "Almoni";
  src: url("fonts/almoni-tzar-bold-aaa.otf");
}
@font-face {
  font-family: "Alef";
  src: url("fonts/Alef-Bold.ttf");
  src: url("fonts/Alef-Regular.ttf");
}

$almoni:                "Almoni", sans-serif;
$alef:                "Alef", serif;

$yellow:								#FFC11F;
$pink:									#C80082;
$lightblue:							#76C6DD;
$green:									#43A047;


body{
  font-family: $almoni
}
.site-header {
  background-color: $pink;
  color: #fff;
  height: 70px;
  border: 0;
}


.menu-icon{
  position: absolute;
  left: 0px;
}
.page-content{
  padding-top: 0;
  padding-bottom: 0;
}

/* Flex */
.flex, .flex-row {
  display: flex;
}

.flex-column{
  display: flex;
  flex-direction: column;
}

.align-items-center {
  align-items: center;
}


.block-size-auto {
  block-size: auto;
}
/* Sizes */
.h-100{
  height: 100%;
}
.w-10{
  width: 10%;
}
.h-100v{
  height: 100vh;
}
.w-100{
  width: 100%;
}
.w-50{
  width: 50%;
}
.h-50v{
  height: 50vh;
}
.h-50{
  height: 50%;
}
.h-40{
  height: 40%;
}
.h-85v{
  height: 85vh;
}
.h-90v{
  height: 90vh;
}

/* Padding / Margin */
.px-10{
  padding: 5px 30px 5px 30px;
}
.px-2{
	padding-left: calc(30px + 4vw);
	padding-right: calc(30px + 4vw);
	// padding-left: 2rem;
	// padding-right: 2rem;
}
.px-4{
	padding-left: 4rem;
	padding-right: 4rem;
}
.overlay{
  background-color: rgba(0,0,0,0.2);
}
.mb-1{
  margin-bottom: 1rem !important;
}
.mb-2{
  margin-bottom: 2rem !important;
}
.pb-2{
	padding-bottom: 2rem;
}

.pt-1{
	padding-top: 1rem;
}
.mt-1{
  margin-top: 1rem !important;
}
.mt-2{
  margin-top: 2rem !important;
}
.global-site{
	margin-top: 1em;
}
.mt-5{
  margin-top: 5rem;
}

/* Text */
.text-white{
  color: white;
}
.text-yellow{
  color: $yellow;
}
.text-yellow:visited{
	color: $yellow;
}
.bg-yellow{
	background: $yellow;
}
.act-now-squares{
	// padding-top: 1rem;
	padding: 1rem 0 1rem 0;
	flex-direction: column;
}
.act-now-title{
	width: 50%;
}
.absolute{
  position: absolute;
}
.about{
  font-family: $alef
}
.about-title{
  font-family: $almoni;
	margin-right: 30px;

}
.hero{
  background-color: lightblue;
  color: white;

  .hero-title{
    font-size: 6rem;
    line-height: 0.8;
    text-align: center;
  }
  .hero-text{
    font-size: 1.2rem;
    width: 100%;
    // margin-bottom: 2rem;
  }
}
.h-10vw{
	height: 10vw;
}
.btn-black{
	font-family: $almoni;
  // width: 50px;
  color: white;
  background: black;
  padding: 5px 30px 5px 30px;
  font-size: 1.5rem;
	display: inline-block;
	&:hover {
		color: #FFC11F;
		text-decoration: none;
	}
}
.btn-pink{
	background: $pink !important;
}
.btn-lightblue{
	background: $lightblue !important;
}

.btn-yellow{
	background: $yellow !important;
  color: black !important;
}
.btn-yellow:visited{
  color: black !important;
}
.btn-fullwidth {
	width: 100%;
	padding: 5px 0 !important;
	text-align: center;
}
.video{
	width: 100%
}
.line-height-1{
	line-height: 1;
}
.line-height-normal{
	line-height: normal;
}
.article{
	margin: 0 1rem 0 0;
}
.text-xl{
	font-size: 7vh;
}
.text-lg{
  font-size:  calc(12px + 5vh);
}
.text-md{
  font-size:  calc(12px + 3vh);
}
.text-sm{
	font-size: calc(12px + 1.3vh);
}
.font-bold{
  font-weight: bold;
}
.hourglass{
  transform: translate(50%, -50%);
	height: 15vh;
}
.left-50{
  transform: translate(-100%, 0);
}
.about{
  background-color: #43A047;
}
.logo-height{
  height: 50px;
}
.text-center{
  text-align: center;
}

.site-nav{
  right: auto;
  left: 15px;
}

.page-link{
  font-family: $almoni;
  color: white;
  font-size: calc(12px + 1.5vw);
}
a:visited{
  color: white
}
.hero-bg{
  background-image: url("images/diein.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.about{
	display: inline-block;
}
.about-content{
	flex-direction: column;
	font-size: 1.1rem;
	// padding: 0 30px 0 30px;
	margin-bottom: 1rem;
}
.about-page-content{
	flex-direction: column;
	// font-size: 1.1rem;
	padding: 2rem 30px 2rem 30px;
}

.contents{
	flex-direction: column;
	font-size: 1.1rem;
	padding: 2rem 30px 2rem 30px;
}
.pb-4{
	padding-bottom: 4rem;
}
.about-btn{
	margin-top: 1rem;
}

.square-margin{
	width: 100%;
	background-color: white;
	margin-top: 2rem;
	// margin-bottom: 2rem;
	// margin: 2rem;
}
.square-blue{
	background-color: #32439C;
}
.square-pink{
	background-color: $pink;
}
.square-pink:hover{
	background-color: #fd73cd !important;
}
.square{
	display: block;
	height: 50%;
	padding-top: 100%;
	position: relative;
}
.square:hover{
	background-color: $lightblue;

}

/* If you want text inside of the container */
.square-content {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

a.text-pink:visited{
	color: $pink;
}
.text-pink{
	color: $pink;
}
.text-green{
	color: $green;
}
.alef{
	font-family: $alef !important;
	font-weight: bold;
}
.social-section{
	display: flex;
	flex-direction: column;
	justify-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem;

}
.social-icons{
	display: flex;
	justify-content: center;

  a{
    width: 10%;
    margin-left: 3vw;
    margin-right: 3vw;
  }
}
.third-section{
	flex-direction: column;
}
.events-section{
	background-color: #76C6DD;
	text-align: right;
}
.news-section{
	background-color: $yellow;
}
.flex-justify-between{
	justify-content: space-between;
}

.flex-align-center{
  align-items: center;
}

.flex-justify-center{
  justify-content: center;
}
.square-text{
	font-size: 10vw;
	margin-top: 1rem;
	text-align:center;
	color: white;
}
.square-image{
	height: 30%;
	// height: auto;
	// width: 30%;
	margin-bottom: 3vw;
}
a{
	color: white;
}
.mx-30{
		margin: 0 30px 0 30px
}
.mobile-mx-2rem{
		margin: 0 2rem 0 2rem
}
.mx-1{
	margin: 0 1rem 0 1rem;
}
.social-icon{
	width: 100%;
}
.mb-0{
	margin-bottom: 0;
}
.act-now-move-up{}

.page-headers{
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 50vh;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-size: calc(30px + 10vw) !important;
	line-height: 0.8;
	text-align: center;
}
.page-overlay{
	height: 100%;
	width: 100%;
}
.bg-act-now{
	background-image: url("images/forest.webp");
}
.events-header{
	background-image: url("images/brigade.webp");
}
.news-header{
	background-image: url("images/news.webp");
}
.about-header{
	background-image: url("images/about.webp");
}
.join-us-header{
	background: rgb(56,175,238);
	background: linear-gradient(0deg, rgba(56,175,238,1) 0%, rgba(25,148,218,1) 100%);
	// background: #1994da;
	flex-direction: column;
	height: auto;
}

.join-us-squares{
	padding: 2rem 0 4rem 0;
	flex-direction: column;
}
.square-black{
	background-color: black;
}
.bg-lightblue{
	background: $lightblue;
}
.bg-green{
	background: $green;
}
.events-events{
	padding-top: 2rem
}
.image-group{
	display: none;
}
.padding-hero{
	padding-bottom: 5vw;
}
.post-image{
	height: 30vh;
	width: 100%;
	background-position: center;
	background-size: cover;
}
.events-contents{
	.event{
		p{
			max-height: 30vh;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}
}

.arrow-down{
	height: 15px;
}
.arrow-up{
	height: 15px;
	transform: rotate(180deg);
}
.xr-online{
  padding-bottom: 2rem;
}
.basic-padding{
	padding-left: 5vw;
	padding-right: 5vw;
}
a.page-link:hover{
	color: white;
}
// only mobile
@media only screen and (max-width: 600px) {
	.mobile-mb-2{
		margin-bottom: 2rem;
	}
	.act-now-squares{
		// padding-left: 5vw;
    // padding-right: 5vw;
		padding-bottom: 10vw;
	}
  .donate-join-desktop{
    display: none;
  }
  .donate-circle{
    background-color: #0088CC;
    height: 20vw;
    width: 20vw;
    border-radius: 9999px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 4px 10px 0px rgba(0, 0, 0, 0.66);
  }

	.mobile-hidden{
		display: none !important;
	}
  .table-caption{
     word-spacing: 9999rem;
    display:table-caption;
  }
  .site-title {
    float: right;
    margin-right: 10px;
    margin-top: 5px;
    &,
    &:visited {
      color: white;
    }
  }
  .site-nav{
    transform: translate(8px , 8px);
    transform-origin: center;
    .page-link{
      color: black;
    }
  }
}
.structure-image{
  display: none;
}
@media only screen and (max-width: 400px) {
	.padding-hero{
		padding-top: 25vw;
		padding-bottom: 30vw;
	}
	.act-now-title{
		width: 100%;
	}
}
@media only screen and (min-width: 1000px) {

}

.site-footer{
  background: black;
	border: none;
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding-bottom: 15vh;
	ul{
		list-style-type:none;
	}
}
.ltr{
	direction: ltr;
}
.copyright-title{
	margin-bottom: 0;
	margin-top: 1rem;
}
.codecircle-logo{
  height: 1.5rem;
}
.codecircle-link{
  margin-right: 3px;
}
.codecircle{
  font-size: 1.5rem;
}

.iamrebel {
  padding: 0 10vw;
  .links > * {
    margin-top:10px;
    cursor: pointer;
  }
}
#iframearea {
	width: 100%;
	iframe {
		width: 100%;
		height: 80vh;
		border: none;
	}
}

.crisis{
  background-color: #f5f5f5;
  padding: 0 20vw;
  font-size: 1.2rem;
  font-family: "Alef";
  p{
    white-space: pre-line;
  }
  a{
    color: blue;
  }
  h1,h2,h3{
    font-family: "Almoni";
    span{
      display: inline-block;
    }
    span.clicked{
      /* Rotate Section Arrow to indicate open/closed position */
      transform: rotate(270deg);
    }
  }
  h2:hover{
    cursor: pointer;
    text-decoration: underline;
  }
  div{
    display: none;
  }
}

@import "desktop";
