<!-- default.html -->
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'he' }}" dir="rtl" style="background:grey;">

<!-- Custom Head -->
  {%- include head.html -%}
<!-- ** Custom Head ** -->
  <head>
    <meta name="theme-color" content="#C80082" />
<!--    <meta property="og:type" content="website" />-->
<!--    <meta property="og:description" content="תנועת המרד בהכחדה" />-->
<!--    <meta property="og:image" content="{{ site.baseurl }}/assets/images/favicon.png" />-->

    <link rel="apple-touch-icon" sizes="180x180" href="{{site.baseurl}}/assets/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{site.baseurl}}/assets/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{site.baseurl}}/assets/images/favicon-16x16.png">
    <link rel="manifest" href="{{site.baseurl}}/assets/images/site.webmanifest">
    <link rel="mask-icon" href="{{site.baseurl}}/assets/images/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="{{site.baseurl}}/assets/images/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="XRIL">
    <meta name="application-name" content="XRIL">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="{{site.baseurl}}/assets/images/browserconfig.xml">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{site.baseurl}}/assets/javascript/main.js"></script>
  </head>

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrappera w-100">
        {{ content }}
      </div>
    </main>

    {%- include cta.html -%}
    {%- include footer.html -%}

		<!-- <script src="{{ "/assets/javascript/lightbox.min.js" | relative_url }}"></script> -->

  </body>

</html>
<!-- /default.html -->