<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "he" }}" dir="rtl" style="background:grey;">

  {%- include head.html -%}
  <head>
    <meta name="theme-color" content="#C80082" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="תנועת המרד בהכחדה" />
    <meta property="og:image" content="{{ site.baseurl }}/assets/images/favicon.png" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="{{site.baseurl}}/assets/javascript/main.js"></script>
  </head>

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrappera w-100">
        {{ content }}
      </div>
    </main>

    <!-- {%- include footer.html -%} -->

		<!-- <script src="{{ "/assets/javascript/lightbox.min.js" | relative_url }}"></script> -->

  </body>

</html>
