<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "he" }}" dir="rtl" style="background:grey;">

  {%- include head.html -%}
  <head>
    <meta property="og:type" content="website" />
    <meta property="og:image" content="{{ site.baseurl }}/assets/images/logo.svg" />
  </head>

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrappera w-100">
        {{ content }}
      </div>
    </main>

    <!-- {%- include footer.html -%} -->

  </body>

</html>
