---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}
<section class="hero  hero-bg ">
<div class="overlay h-100v w-100 flex flex-align-center aflex-justify-center flex-column hero-h">

  <div class="hero-title mb-1 h-40 w-100 flex flex-align-center flex-justify-center">
    <div class="table-caption">
      {{ page.hero.title }}
    </div>
  </div>
  <h2 class="hero-text mb-1">
    <p class="px-10 text-center">
      {{ page.hero.text }}
    </p>
  </h2>
  <a class="btn-black" href="{{site.baseurl}}crisis/">
    {{ page.read-more }}
  </a>
</div>
</section>

<div class="absolute w-50 left-50 ">
  <img src="assets/images/hourglass.svg" alt="hourglass", class="hourglass">
</div>

<section class="about  w-100 text-center text-white font-bold pb-4">
  <h2 class="about-title mt-5 text-secondary text-lg">
    מי אנחנו?
  </h2>
	<div class="about-content  flex flex-align-center flex-justify-center  text-md">
	  <p class="">
	    <span class="text-secondary">"תנועת המרד בהכחדה"</span> (Extinction Rebellion או בקיצור XR) היא תנועה עולמית שנולדה בבריטניה ב-2018 כמענה <span class="text-secondary">למצב החירום חסר התקדים שבו אנו נמצאים</span> - משבר אקלים ומשבר אקולוגי חריפים. המדע ברור: אם נמשיך ב"עסקים כרגיל", נמצא את עצמנו בכוכב שרובו יהיה בלתי-ראוי למחיה ובעיצומה של הכחדה המונית שמתרחשת כבר היום. ישראל נמצאת במצב פגיע במיוחד.
	  </p>
	  <p class="">
	      הממשלה נכשלת בתפקידה לדאוג לאזרחי המדינה ולתקשר לציבור את חומרת המצב.
	      לכן, הצטרפנו למרד - אמהות, אבות, סבים וסבתות, נשים, גברים, זקנים ונוער, מכל גיל, רקע ומקצוע אפשריים.
	  </p>
	  <p class="">
	      אנחנו חוצים דת, מגזרים ודעות פוליטיות, למען מטרה משותפת. הדאגה והאהבה שלנו לילדינו, לבריאותנו ולחיים על פני כדור-הארץ מביאות אותנו לצאת ביחד מאזור הנוחות שלנו ולעמוד בנחישות אל מול ההרס וההכחשה.
	      המשימה שלנו היא לעורר מרד יצירתי בלתי-אלים ולהניע 3.5% מהאוכלוסייה, כדי לשבש את ה"עסקים כרגיל", עד שהממשלה תנקוט בפעולה אפקטיבית.
	  </p>
	  <p class="">
	    אנחנו מבססים את הדרישות שלנו על גוף-הידע המתפרסם על-ידי מדעני אקלים ומוסדות־מחקר בני-סמכא (כגון הפאנל הבין-ממשלתי לשינוי אקלים, השירות המטאורולוגי העולמי, נאס"א).
	  </p>
	</div>
	<a class="about-btn btn-black" href="/crisis/">
		{{ page.read-more }}
	</a>
</section>

<section class="third-section flex flex-align-center flex-justify-center ">
	<div class="square-margin">
		<a class="square square-blue" href="{{site.baseurl}}act-now/">
			<div class="flex flex-column flex-justify-center h-100 square-content">
				<img src="assets/images/hourglass.svg" alt="hourglass" class="square-image">
				<div class="square-text">
					פעלו עכשיו
				</div>
			</div>
		</a>
	</div>
	<div class="square-margin">
		<a class="square square-blue" href="{{site.baseurl}}crisis/">
			<div class="flex flex-column flex-justify-center h-100 square-content">
				<img src="assets/images/prayinghands.svg" alt="prayinghands" class="square-image">
				<div class="square-text">
					מצב חירום
				</div>
			</div>
		</a>
	</div>
	<div class="square-margin">
		<a class="square square-blue" href="{{site.baseurl}}act-now/">
			<div class="flex flex-column flex-justify-center h-100 square-content">
				<img src="assets/images/bee.svg" alt="bee" class="square-image">
				<div class="square-text">
					הצטרפו אלינו
				</div>
			</div>
		</a>
	</div>
</section>

<section class="events-section pb-2 pt-1">
	<h2 class="text-white events-title mx-30 text-lg">אירועים</h2>

  {% assign events_array = site.data.events | sort: 'date' %}
  {% assign event_num = events_array.size | minus: 4 %}
  {% for event in events_array %}
    {% if forloop.index > event_num %}
    	<div class="event mx-30 mt-1">
        {% comment %}
        {% assign date_display = event.date | split: "-" | reverse %}
        {% assign date_display[2] = date_display[2] | slice: 2, 2 %}
        {% endcomment %}
    		<h2 class="text-white mb-0 text-lg">{{ event.date | split: "-" | reverse | join: "." }}</h2>
    		<h3 class="text-white mb-0 text-md">{{ event.title }}</h3>
    		<p class="text-sm">{{ event.description }}</p>
    		<a class="btn-black mb-2" href={{ event.link }}>להרשמה</a>
    	</div>
    {% endif %}
  {% endfor %}
	<a class="btn-black mb-2" href="{{site.baseurl}}events/">לכל האירועים ></a>
</section>

<section class="news-section pb-2 pt-1">
	<h2 class="text-white news-title mx-30 text-lg">חדשות</h2>

	<div class="news mx-30 mt-1">
		<h2 class="mb-0 text-lg">כותרת חדשות 1</h2>
		<p class="text-sm">תנועת "המרד בהכחדה" (Extinction Rebellion או בקיצור XR) היא תנועה עולמית שנולדה בבריטניה ב-2018 כמענה למצב החירום חסר התקדים שבו אנו נמצאים - משבר אקלים ומשבר אקולוגי חריפים. המדע ברור: אם נמשיך ב"עסקים כרגיל", נמצא את עצמנו בכוכב שרובו יהיה בלתי-ראוי למחיה ובעיצומה של הכחדה המונית</p>
		<a class="btn-black mb-2" href="{{site.baseurl}}news/">קראו עוד</a>
	</div>
	<div class="news mx-30 mt-1">
		<h2 class="mb-0 text-lg">כותרת חדשות 1</h2>
		<p class="text-sm">תנועת "המרד בהכחדה" (Extinction Rebellion או בקיצור XR) היא תנועה עולמית שנולדה בבריטניה ב-2018 כמענה למצב החירום חסר התקדים שבו אנו נמצאים - משבר אקלים ומשבר אקולוגי חריפים. המדע ברור: אם נמשיך ב"עסקים כרגיל", נמצא את עצמנו בכוכב שרובו יהיה בלתי-ראוי למחיה ובעיצומה של הכחדה המונית</p>
		<a class="btn-black mb-2" href="{{site.baseurl}}news/">קראו עוד</a>
	</div>

	<a class="btn-black mb-2" href="{{site.baseurl}}news/">לכל החדשות ></a>
</section>

<section class="social-section mt-2">
	<div class="social-icons">
		<img src="assets/images/facebook-pink.svg" alt="facebook" class="mx-1 social-icon">
		<img src="assets/images/instagram-pink.svg" alt="instagram" class="mx-1 social-icon">
		<img src="assets/images/twitter-pink.svg" alt="twitter" class="mx-1 social-icon">
	</div>
	<div class="global-site text-center text-lg">
		<a class="text-pink">
			לאתר המרד העולמי >
		</a>
	</div>
</section>
  {{ content }}
<!--
  {% if site.paginate %}
    {% assign posts = paginator.posts %}
  {% else %}
    {% assign posts = site.posts %}
  {% endif %}


  {%- if posts.size > 0 -%}
    {%- if page.list_title -%}
      <h2 class="post-list-heading">{{ page.list_title }}</h2>
    {%- endif -%}
    <ul class="post-list">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      {%- for post in posts -%}
      <li>
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    {% if site.paginate %}
      <div class="pager">
        <ul class="pagination">
        {%- if paginator.previous_page %}
          <li><a href="{{ paginator.previous_page_path | relative_url }}" class="previous-page">{{ paginator.previous_page }}</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
          <li><div class="current-page">{{ paginator.page }}</div></li>
        {%- if paginator.next_page %}
          <li><a href="{{ paginator.next_page_path | relative_url }}" class="next-page">{{ paginator.next_page }}</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
        </ul>
      </div>
    {%- endif %}

  {%- endif -%} -->

</div>
