---
layout: default
---

<div class="home">

<section class="hero  hero-bg ">
<div class="overlay h-100v w-100 flex flex-align-center aflex-justify-center flex-column hero-h  ">

  <div class="hero-title mb-1 h-40 w-100 flex flex-align-center flex-justify-center">
    <div class="table-caption">
      {{ page.hero.title }}
    </div>
  </div>
  <h2 class="hero-text mb-1">
    <p class="px-10 text-center">
      {{ page.hero.text }}
    </p>
  </h2>
  <a class="btn-black" href="{{site.baseurl}}/crisis/">
    {{ page.read-more }}
  </a>
</div>
</section>

<div class="absolute w-50 left-50 ">
  <img src="assets/images/hourglass.svg" alt="hourglass", class="hourglass">
</div>

<section class="about  w-100 text-center text-white font-bold pb-4  ">
	<h2 class="about-title mt-5 text-secondary text-lg">
		מי אנחנו?
	</h2>
	<div class="about-content  flex flex-align-center flex-justify-center  text-md">
	  <div class="">
			<p>
			<span class="text-secondary">"תנועת המרד בהכחדה"</span> (Extinction Rebellion או בקיצור XR) היא תנועה עולמית שנולדה בבריטניה ב-2018 כמענה <span class="text-secondary">למצב החירום חסר התקדים שבו אנו נמצאים</span> - משבר אקלים ומשבר אקולוגי חריפים. המדע ברור: אם נמשיך ב"עסקים כרגיל", נמצא את עצמנו בכוכב שרובו יהיה בלתי-ראוי למחיה ובעיצומה של הכחדה המונית שמתרחשת כבר היום. ישראל נמצאת במצב פגיע במיוחד.
			</p>
			<p>
				הממשלה נכשלת בתפקידה לדאוג לאזרחי המדינה ולתקשר לציבור את חומרת המצב.
			</p>
	  </div>
	  <div class="">
			<p>
				לכן, הצטרפנו למרד - אמהות, אבות, סבים וסבתות, נשים, גברים, זקנים ונוער, מכל גיל, רקע ומקצוע אפשריים.
			</p>
	      אנחנו חוצים דת, מגזרים ודעות פוליטיות, למען מטרה משותפת. הדאגה והאהבה שלנו לילדינו, לבריאותנו ולחיים על פני כדור-הארץ מביאות אותנו לצאת ביחד מאזור הנוחות שלנו ולעמוד בנחישות אל מול ההרס וההכחשה.
				<p>
					המשימה שלנו היא לעורר מרד יצירתי בלתי-אלים ולהניע 3.5% מהאוכלוסייה,
				</p>
	  </div>
	  <div class="">
			<p>
				כדי לשבש את ה"עסקים כרגיל", עד שהממשלה תנקוט בפעולה אפקטיבית.
			</p>
			<p>
				אנחנו מבססים את הדרישות שלנו על גוף-הידע המתפרסם על-ידי מדעני אקלים ומוסדות־מחקר בני-סמכא (כגון הפאנל הבין-ממשלתי לשינוי אקלים, השירות המטאורולוגי העולמי, נאס"א).
			</p>
			<br>
			<a class="about-btn btn-black" href="/crisis/">
				{{ page.read-more }}
			</a>
	  </p>
	</div>
</section>

<img src="assets/images/group.svg" alt="illustration group" class="image-group">

<section class="third-section flex flex-align-center flex-justify-center px-2">
	<div class="square-margin">
		<a class="square square-blue" href="{{site.baseurl}}/act-now/">
			<div class="flex flex-column flex-justify-center h-100 square-content">
				<img src="assets/images/hourglass.svg" alt="hourglass" class="square-image">
				<div class="square-text">
					פעלו עכשיו
				</div>
			</div>
		</a>
	</div>
	<div class="square-margin">
		<a class="square square-blue" href="{{site.baseurl}}/crisis/">
			<div class="flex flex-column flex-justify-center h-100 square-content">
				<img src="assets/images/prayinghands.svg" alt="prayinghands" class="square-image">
				<div class="square-text">
					מצב חירום
				</div>
			</div>
		</a>
	</div>
	<div class="square-margin">
		<a class="square square-blue" href="{{site.baseurl}}/act-now/">
			<div class="flex flex-column flex-justify-center h-100 square-content">
				<img src="assets/images/bee.svg" alt="bee" class="square-image">
				<div class="square-text">
					הצטרפו אלינו
				</div>
			</div>
		</a>
	</div>

</section>

<section class="events-section pb-2 pt-1">
	<h2 class="text-white events-title mx-30 text-lg">אירועים</h2>
	<div class="events-contents">

  {% assign events_array = site.data.events | sort: 'date' %}
  {% assign event_num = events_array.size | minus: 4 %}
  {% for event in events_array %}
    {% if forloop.index > event_num %}
    	<div class="event mx-30 mt-1" future-date="{{ event.date | date: '%Y-%m-%d' }}">
        {% comment %}
        {% assign date_display = event.date | split: "-" | reverse %}
        {% assign date_display[2] = date_display[2] | slice: 2, 2 %}
        {% endcomment %}
    		<h2 class="text-white mb-0 text-lg">{{ event.date | split: "-" | reverse | join: "." }}</h2>
    		<h3 class="text-white mb-0 text-md">{{ event.title }}</h3>
    		<p class="text-sm">{{ event.description }}</p>
    		<a class="btn-black mb-2" href={{ event.link }}>להרשמה</a>
    	</div>
    {% endif %}
  {% endfor %}
</div>
	<a class="btn-black mb-2 events-btn" href="{{site.baseurl}}/events/">לכל האירועים ></a>
</section>

<section class="news-section pb-2 pt-1">
	<h2 class="text-white news-title mx-30 text-lg">חדשות</h2>
  {% assign newses_array = site.posts | sort: 'date' %}
  {% if newses_array.size > 2 %}
    {% assign news_num = newses_array.size | minus: 2 %}
  {% else %}
    {% assign news_num = newses_array.size %}
  {% endif %}
  {% for news in newses_array %}
    {% if forloop.index <= news_num %}
    	<div class="news mx-30 mt-1">
    		<h2 class="mb-0 text-lg">{{ news.title }}</h2>
    		<p class="text-sm">{{ news.subtitle }}</p>
    		<a class="btn-black mb-2" href="{{site.baseurl}}/{{news.url}}">קראו עוד</a>
    	</div>
    {% endif %}
  {% endfor %}
	<a class="btn-black mb-2" href="{{site.baseurl}}/news/">לכל החדשות ></a>
</section>

<section class="social-section mt-2">
	<div class="social-icons">
		<a href="https://www.facebook.com/XRisrael/"> <img src="assets/images/facebook-pink.svg" alt="facebook" class="mx-1 social-icon"> </a>
		<a href="https://www.instagram.com/extinctionrebellionisrael/"> <img src="assets/images/instagram-pink.svg" alt="instagram" class="mx-1 social-icon"> </a>
		<a href="https://twitter.com/israelrebellion"> <img src="assets/images/twitter-pink.svg" alt="twitter" class="mx-1 social-icon"> </a>
	</div>
	<div class="global-site text-center text-lg">
		<a class="text-pink" href="https://rebellion.global/">
			לאתר המרד העולמי >
		</a>
	</div>
</section>
  {{ content }}
</div>

<script>
    function getCompareDate() {
        var d = new Date(),
            month = '' + (d.getMonth() + 1),
            day = '' + d.getDate(),
            year = d.getFullYear();
        if (month.length < 2) month = '0' + month;
        if (day.length < 2) day = '0' + day;
        return [year, month, day].join('');
    }
    var elements = document.querySelectorAll('[future-date]');
    Array.prototype.forEach.call(elements, function(el, i){
        if(el.getAttribute('future-date').split('-').join('') < getCompareDate()) el.remove();
    });
</script>
