---
layout: default
---
<!-- Post.html -->
<article class="post">

	<div class="image post-image" style="background-image:url('{{ page.featured_image }}')">
		<!-- <img src="{{ page.featured_image }}" alt="{{ page.title }}" class=" post-image"> -->
	</div>
	<div class="article">
		<h2 class="mb-1 mt-1 text-lg line-height-1">
			{{ page.title }}
		</h2>
		<div class="alef font-bold text-sm mb-2">{{ page.subtitle }}</div>
		<div class="post-body alef font-bold">
			{{ content }}
		</div>
	</div>

</article>
<!-- /Post.html -->